.topic-header {
    padding: 10px;
    border-radius: 3px 3px 0 0;
    background-color: #f6f6f6;
    font-size: 1.5rem;
}
.topic-tab {
    color: #80bd01;
    margin: 0 10px;
}
.current-tab {
    background-color: #80bd01;
    color: #fff;
    padding: 3px 4px;
    border-radius: 3px;
}