#app, .ant-layout {
    height: 100%;
}
%common-width {
    width: 90%;
    min-width: 96rem;
    max-width: 140rem;
}
.navInner {
    background: transparent;
    border-radius: 0;
    border: none;
    box-shadow: none;
    margin: 0 auto;
    @extend %common-width;

    input[type='text'] {
        width: 10rem;
    }
    .ant-menu {
        border-right: none;
        background-color: transparent;
        position: relative;
        left: 0;
        float: right;
        margin: 1rem 0 0 0; 
    }
    .ant-menu-item {
        float: left;
        font-size: 1.5rem;
        &.ant-menu-item-selected {
            background: transparent;
        }
        a {
            color: #ccc;
            &:hover {
                color: white;
            }
        }
    }
}
.ant-layout-has-sider {
    @extend %common-width;
    margin: 1rem auto;
    min-height: 100%;
    .ant-layout-content {
        margin-right: 2rem;
    }
    .ant-layout-sider {
        background: transparent;
    }
}
.ant-layout-footer {
    background-color: white;
    font-size: 1.5rem;
}
#footer {
    @extend %common-width;
    margin: 1rem auto;
}
.sep10 {
    height: 1rem;
}
#sidebarInner {
    .panel {
        margin-bottom: 1rem;
        background-color: white;
    }
    .header {
        padding: 1rem;
        font-size: 1.5rem;
        color: #444;
        background-color: #f6f6f6;
        border-radius: 3px 3px 0 0;
    }
    .content {
        padding: 1rem;

        .friendship-community {
            li {
                line-height: 2rem;
                img {
                    width: 25rem;
                }
            }
        }
    }
}
