html, body {
    font-size: 62.5%;
    line-height: 2rem;
    word-break: break-word;
}
p {
    vertical-align: bottom;
    margin: 0 0 1rem;
}
img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    border: 0;
}
ol, ul {
    list-style: none;
}
a {
    &:hover {
        color: #005580;
    }
}